{% extends "layout.html" %}

{% block title %}Posters - {{ data.name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='images.css') }}">
{% endblock %}

{% block body %}
<div class="container my-5">

    <a href="/tv/{{ data.id }}" class="btn btn-outline-secondary mb-4">← Back to Show</a>

    <h1 class="mb-4">Posters for "{{ data.name }}"</h1>

    <div class="row g-4">
        {% for poster in posters %}
        <div class="col-6 col-md-4 col-lg-3">
            <img
                src="https://image.tmdb.org/t/p/w500{{ poster.file_path }}"
                class="img-fluid rounded shadow poster-img"
            >
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
